main {
  transition: margin-right 1s, filter 0.5s;
}
.line {
  padding: 5px 0;
  position: relative;
  margin: 5px;
}
.line::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(37, 0, 0);
}

/* =============CONTAINER CARRINHO============= */
.cart {
  color: var(--font-color-title);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #350303;
  transition: 0.5s;
  padding-top: 100px;
  overflow-y: scroll;
}
.badgeCart {
  color: white;
  font-size: 15px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  text-align: center;
  top: 2px;
}
/* =============CABEÇALHO CARRINHO============= */
.cartHeader {
  margin: 0 15px;
  font-size: 1.3em;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: center;
}

#openCart {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 100px;
  right: 10px;
  font-size: 2em;
  color: var(--font-color-body);
  transition: 0.5s;
}

/* =============ESMAECER BACKGROUND============= */
.backdrop {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: fixed;
  z-index: -1;
  opacity: 0;
}
.controlsCart {
  float: right;
}
.itemList {
  padding: 0 15px;
}
.btnQtd {
  cursor: pointer;
}
#cartQtd {
  border-radius: 5px;
  width: 30px;
  text-align: center;
}
input[type='number' i] {
  padding: 1px 2px;
}

.itemList li * {
  margin: 5px 0;
}
