/* =============CORPO DA PÁGINA============= */
@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');

/* =============INICIO CORPO SOBRE============= */
/* Primeira parte Quem Somos - Textos */
.text {
  align-items: center;
  font-family: Rambla, sans-serif;
  justify-content: center;
  color: black;
}

#title {
  color: #2c2c2c;
}

.paragrafos > p {
  padding: 10px;
  font-size: 1.5em;
}

/* Segunda parte Quem Somos - Equipe */

.equipe {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.CEO,
.employeesList {
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.tamanhoImg {
  margin-top: 20px;
  width: 20vw;
}
.employees {
  justify-content: space-between;
  width: 100%;
}
.dadosEmployees {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.employeeTitle {
  color: var(--font-color-body);
}

/* ============= Home ================= */

/* ------Alinhamento dos itens contidos  em Main --------------- */
main {
  text-align: center;
}
/* ---------Atribuições para primeiro bloco de texto ----------- */
.containerHome1 {
  align-items: center;
  justify-content: space-between;
  line-height: 110%;
  font-size: 1.7em;
  color: #000;
  text-align: center;
}
/* --------Texto nos botões centrais------------ */
main > .buttonHome {
  text-decoration: none;
  color: #fff;
}
/* ------------Atriuições para os itens centrais------------ */
.textHome {
  flex-direction: column;
  justify-content: center;
  color: black;
  height: 100%;
  width: 100%;
  margin: 30px 0;
}
/* -------------Títuilo textos centrais---------------- */
.titleHome {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 90%;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Holtwood One SC', serif;
  transition: 1s;
}
/* -----------Texto entre os botões centrais e seu título------- */
.subHome {
  padding-top: 10px;
  padding-bottom: 30px;
}
/* ==================================================================== */
.containerHome1 .iconHome {
  width: 30px;
  height: 30px;
}
/* ---------------Referente a estilização do botão-------------- */
.containerHome1 a {
  height: 60%;
  width: 60%;
  margin-top: 5px;
  background-color: #600a0a;
  border-radius: 5px;
  padding: 10px;
}

.bannerFixo {
  font-size: 1.5em;
  color: white;
  text-align: center;
  width: 100%;
  height: 300px;
  display: none;
  background: url(../img/produtos/img-banner/3-hamburguer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}
.bannerFixo > p,
span {
  position: relative;
  top: 20px;
}
.bannerFixo > p {
  font-weight: bold;
}
/* Carrossel - CSS */

/* Ajustando tamanho do carrossel e limitando o espaço da imagem em relação ao tamanho do container carrossel. */

.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

/* Ajustando tamanho dos slides do carrossel */

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

/* Escondendo os inputs */

.slides input {
  display: none;
}

/* Posição de cada slide */

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

/* Ajustando tamanho da imagem dentro do container carrossel */

.slide img {
  width: 100%;
}

/* Posições dos botões do carrossel */

.manual-nav {
  position: relative;
  margin-top: -25px;
  display: flex;
  justify-content: center;
}

/* Estilização dos botões do carrossel */

.manual-btn {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

/* Margem para todos os botoes, menos o ultimo */
.manual-btn:not(:last-child) {
  margin-right: 40px;
}

/* Estilização dos botões do carrossel quando o mouse passa por cima */

.manual-btn:hover {
  background-color: #fff;
}

/* Dinamismo com CSS - Quando o input estiver selecionado irá mover a imagem X % de posição p/ esquerda  */

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

/*----------- Título imagens interior-------------- */
.containerHome2 {
  text-align: center;
  justify-content: space-around;
  font-size: 1.25em;
  font-family: 'Prociono', serif;
  padding-top: 10%;
  color: #000;
}
/* ----------Primeira linha texto interior------- */
.fraseHome1 {
  font-size: 25px;
}
/* ----------Segunda linha texto interior------- */
.fraseHome2 {
  font-weight: lighter;
  font-size: 1.25em;
  line-height: 100%;
  letter-spacing: 2px;
  font-size: 60px;
}
/* -------------Imagens interior------------ */
.imgintHome {
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
  margin-top: 80px;
}
/* ----------------Tamanho imagens------------- */
.imgintHome img {
  width: 90%;
  height: 90%;
}

/* =============INICIO CORPO CARDÁPIO============= */
.cardList {
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 30%;
  background: #e6e0d4;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #600a0a;
  margin: 15px 0;
}
.card-body {
  height: 100%;
  margin: 10px;
  justify-content: space-between;
}
.card-footer {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.img-prod {
  align-self: center;
  width: 20vw;
}
.card-footer > p {
  font-size: 1.3em;
  font-weight: bold;
}

/* =============INICIO CORPO CONTATO============= */
/* Cofigurações da página contato */
.localcontato {
  display: flex;
  color: #600a0a;
  flex-direction: column;
  align-items: center;
}
.localcontato > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.localcontato > div > h3 + span {
  font-size: 1em;
}
#imgMapa {
  width: 30vw;
  align-items: center;
}
.formulario {
  box-shadow: 0px 2px 2px 1px rgb(134 122 122 / 70%);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 40vw;
  padding: 20px 0;
  background-color: #e5e0d4;
  color: #600a0a;
}

.formulario > div {
  padding: 10px 5px;
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.formulario > div > input,
textarea {
  padding: 5px;
}

.inputForm {
  border-radius: 5px;
  resize: none;
  outline: none;
  height: 100%;
  width: 100%;
}

.inputError {
  border: rgb(150, 3, 3) solid 1px;
  box-shadow: 0px 0px 3px 2px rgba(68, 2, 2, 0.445);
}
.inputSucess {
  border: green solid 1px;
  box-shadow: 0px 0px 3px 2px rgba(2, 68, 22, 0.445);
}
#msg {
  height: 60px;
}
#buttonpage {
  display: flex;
  background-color: #600a0a;
  color: white;
  margin-top: 5px;
}

.corpo.contatoPage {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
}

.contatoAddress {
  align-items: center;
  margin: 20px 0;
}
.iconContatoAddress {
  width: 4vw;
}

/* =============INICIO MEDIAS CORPO============= */
@media (max-width: 992px) {
  .containerHome1 {
    flex-direction: column;
    font-size: 2em;
  }
  .card {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) {
  .bannerFixo {
    display: block;
    height: 50vw;
  }
  .slider {
    display: none;
  }
  .banner {
    height: 70vw;
  }
  .containerHome1 {
    flex-direction: column;
    font-size: 2em;
  }
  .card {
    font-size: 0.6em;
  }
  .employeesList {
    font-size: 1.3em;
  }
  .iconContatoAddress {
    width: 10vw;
  }
  .formulario {
    width: 60vw;
  }
  #imgMapa {
    width: 60vw;
  }
}
@media (max-width: 576px) {
  .bannerFixo {
    display: block;
    font-size: 0.8em;
  }
  .slider {
    display: none;
  }
  .banner {
    height: 80vw;
  }

  .containerHome1 {
    flex-direction: column;
    font-size: 1em;
  }
  .card {
    font-size: 0.8em;
    width: 100%;
  }
  .cardList {
    align-items: center;
    justify-content: space-between;
  }
  .img-prod {
    width: 60vw;
  }
  .employeesList,
  .paragrafos > p {
    font-size: 1em;
  }
  .formulario,
  #imgMapa {
    width: 80vw !important;
  }
  .iconContatoAddress {
    width: 10vw;
  }
}

@media (min-width: 992px) {
  .formulario {
    height: 30vw;
  }
}
