/* =============CORPO DA PÃGINA============= */
@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');

/* Primeira parte Quem Somos - Textos */

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rambla, sans-serif;
  color: var(--font-color);
}

.text h1 {
  color: #2c2c2c;
  font-size: 2.5em;
  padding: 0 auto;
}

#title {
  color: #2c2c2c;
  font-size: 2.5em;
  padding: 0 auto;
  margin-top: 80px;
}

.corpo {
  text-align: justify;
  max-width: 1200px;
  margin: 0 auto;
  padding: 90px 0;
}

.paragrafos {
  font-size: 1.5em;
  margin: 30px 0px 30px 0px;
  padding: 15px;
  width: 690px;
}

/* Segunda parte Quem Somos - Equipe */


main > .container > .text > .equipe {
  width: 50%;
}

#CEO {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#CEO > .nome{
  color: var(--font-color-body);
}

.tamanhoImg {
  margin-top: 20px;
  width: 200px;
}

.employees {
  display: flex;
  justify-content: space-around;
}

.dadosEmployees {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.dadosEmployees > .nome {
  color: var(--font-color-body);
}

.dadosEmployees p, #CEO p {
  font-size: 1.5em;
}
