/* =============CORPO DA PÁGINA============= */
@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');

/* =============INICIO CORPO SOBRE============= */
/* Primeira parte Quem Somos - Textos */
.text {
  align-items: center;
  font-family: Rambla, sans-serif;
  justify-content: center;
  color: black;
}

#title {
  color: #2c2c2c;
}

.paragrafos > p {
  padding: 10px;
  font-size: 1.5em;
}

/* Segunda parte Quem Somos - Equipe */

.equipe {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.CEO,
.employeesList {
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.tamanhoImg {
  margin-top: 20px;
  width: 20vw;
}
.employees {
  justify-content: space-between;
  width: 100%;
}
.dadosEmployees {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.employeeTitle {
  color: var(--font-color-body);
}

/* ============= Home ================= */

/* Texto central home */
header {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
}

main {
  text-align: center;

}

.containerHome1 {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 110%;
  font-size: 20px;
  color: #000;
  text-align: center;
  /* ================================================================ */
}

main > .buttonHome {
  text-decoration: none;
  color: #fff;
}

.textHome {
  flex-direction: column;
  justify-content: center;
  color: black;
  height: 100%;
  width: 100%;
}

.titleHome {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 90%;
  font-size: 60px;
  font-weight: bold;
  margin-top: 150px;
  font-family: 'Holtwood One SC', serif;
}

.subHome {
  padding-top: 10px;
  padding-bottom: 30px;
}
/* ==================================================================== */
.containerHome1 .iconHome { 
  width: 30px;
  height: 30px;
}
/* ==================================================================== */
.containerHome1 a {
  height: 60%;
  width: 60%;
  margin-top: 5px;
  background-color: #600a0a;
  border-radius: 5px;
  padding: 10px;
}

/* Carousel - CSS */

.slider {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  display: flex;
    align-items: center;
    justify-content: center;
    /* =============================================================== */
}

.slide img {
  width: 800px;
}

.manual-nav {
  position: relative;
  width: 1150px;
  /* ================================================= */
  margin-top: -25px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

/* Margem para todos os botoes, menos o ultimo */
.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio1:checked ~ .auto-nav .auto-btn1 {
  background-color: #fff;
}

/* Título imagens interior */
.containerHome2 {
  text-align: center;
  justify-content: space-around;
  font-size: 20px;
  font-family: 'Prociono', serif;
  padding-top: 10%;
  color: #000;
}

.fraseHome1 {
  font-size: 25px;
}

.fraseHome2 {
  font-weight: lighter;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2px;
  font-size: 60px;
}

.imgintHome {
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
  margin-top: 80px;
}

.imgintHome img {
  width: 90%;
  height: 90%;
}

/* =============INICIO CORPO CARDÁPIO============= */
.cardList {
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 30%;
  background: #e6e0d4;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #600a0a;
  margin: 15px 0;
}
.card-body {
  margin: 10px;
}
.card-footer {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.img-prod {
  align-self: center;
  width: 20vw;
}
.card-footer > p {
  font-size: 1.3em;
  font-weight: bold;
}

/* =============INICIO MEDIAS CORPO============= */
@media (max-width: 992px) {
  .card {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) {
  .card {
    font-size: 0.6em;
  }
  .employeesList {
    font-size: 1.3em;
  }
}
@media (max-width: 576px) {
  .card {
    font-size: 0.8em;
    width: 100%;
  }
  .cardList {
    align-items: center;
    justify-content: space-between;
  }
  .img-prod {
    width: 60vw;
  }
  .employeesList,
  .paragrafos > p {
    font-size: 1em;
  }
}

/* =============FIM CORPO CARDÁPIO============= */
/* =============INICIO CORPO CONTATO============= */

/* Cofigurações da página contato */
/* Cofigurações da pagina contato */
.corpo-left,
.corpo-right {
  display: flex;
  justify-content: center;
}
.corpo-left {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.corpo-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
/* !!!!!!!!!!!!CÓDIGO EM CONFLITO!!!!!!!!!!!! */

/* #horario, #telefone{
  color:#600A0A;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 20em;
  width: 20em;
  margin-top: 10px;
  margin-bottom: 10px;

} */
/* .contato{
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* #instagram{
  height: 40px;
}
#facebook{
  height: 40px;
}
#whatsapp{
  height: 40px;
} */

/* !!!!!!!!!!!!CÓDIGO EM CONFLITO!!!!!!!!!!!! */
.localcontato {
  display: flex;
  color: #600a0a;
  flex-direction: column;
  align-items: center;
}
#imgMapa {
  height: 25em;
  align-items: center;
}
.formulario {
  box-shadow: 0px 10px 20px 0px rgba(134, 122, 122, 0.7);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  background-color: #e5e0d4;
  color: #600a0a;
}
#titulo {
  display: flex;
  color: #600a0a;
}
#nome,
#email,
#texto {
  border-color: #e5e0d4;
  background-color: #b7b3a1;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  display: flex;
  flex-direction: column;
}
button {
  display: flex;
  background-color: #600a0a;
  color: white;
  margin-top: 5px;
}

.icssonsite {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 100px;
}

.adress {
  display: flex;
  background-color: #600a0a;
  color: rgb(251, 251, 251);
  margin-top: 20px;
  width: 100%;
  height: 4em;
  justify-content: center;
  align-items: flex-end;
}

/* =============INICIO CORPO CONTATO============= */
