@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

/* Variáveis CSS */
:root {
  --ff-corpo: 'Roboto', sans-serif;
  --ff-middle-main:  'Caramel', 'cursive';
  --bg-color-main: #eee8db;
  --bg-color-header: #600a0a;
  --bg-color-hover:#280303;
  --font-color-title: #F5F5F5;
  --font-color-body: #600a0a;
}

/* Elementos Globais */
* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  font-family: var(--ff-corpo);
  background-color: var(--bg-color-main);
  font-size: 12px;
}
a {
  text-decoration: none;
  color: var(--font-color-title);
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}