/* Variáveis CSS */
:root {
  --bg-color-main: #eee8db;
  --bg-color-header: #600a0a;
  --font-corpo: 'Roboto', sans-serif;
  --font-color: #600a0a;
}

/* Elementos Globais */
* {
  list-style-type: none;
}
html,
body {
  scroll-behavior: smooth;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-corpo);
  background-color: var(--bg-color-main);
  font-size: 12px;
}

header {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
}
main {
  margin-top: 10rem;
}
main .container {
  width: 80%;
}
a {
  text-decoration: none;
  color: #fff;
}

/* Classes Globais */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

/* Props .Container */
.container {
  width: 100%;
  margin: 0 auto;
}
.logo {
  width: 120px;
  height: 120px;
  background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Inicio Header */
header > .container {
  width: 100%;
  background-color: var(--bg-color-header);
  justify-content: center;
  align-items: center;
}

/* Propriedades do Logo - Header */
header > .container .logo {
  position: absolute;
  left: 0;
  margin-left: 1rem;
  top: 0;
}

/* Propriedades dos Itens do Menu - Header */
.container > #itensMenu {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
#itensMenu,
#itensSocial > li {
  padding: 1rem;
}
#itensMenu > li > a {
  font-size: clamp(1rem, 0.5em + 1vw, 1.5em);
  font-weight: 500;
  color: #fff;
  padding: 10px;
}
.active,
#itensMenu > li > a:hover {
  background-color: #280303;
  border-radius: 5px;
  text-decoration: underline;
}

/* Inicio do Footer */
footer {
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
}
footer > .container {
  width: 100%;
  background-color: var(--bg-color-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* Propriedades da DIV Contatos */
#contato {
  width: 33%;
}
#contato > div {
  font-size: clamp(0.5em, 0.5em + 1vw, 1.5em);
  text-align: center;
  margin: 0px 10px 0px 10px;
}

/* Propriedades da DIV copyright */
#copyright {
  font-size: clamp(0.5em, 1em + 1vw, 1em);
  width: 33%;
  align-items: center;
}

/* Primeira parte Quem Somos - Textos */

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-corpo);
  color: var(--font-color);
}

.text h1 {
  color: #2c2c2c;
  font-size: 2.5em;
  padding: 0 auto;
  margin: 0 auto;
}

.text p {
  width: 100%
} 

.paragrafos {
  font-size: 1.3em;
}


/* Propriedades o DIV ItensSocial */
#itensSocial {
  width: 33%;
  font-size: clamp(1em, 1.5em + 1vw, 2em);
  height: 1rem;
  align-items: center;
  justify-content: flex-end;
}
